* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-size: 18px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header {
  font-size: 2.75em;
  font-weight: 600;
}

main article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main article .form {
  width: 60%;
}

main article .form .description {
  margin-top: 20px;
}

main article .form .description h2 {
  font-size: 2em;
  font-weight: 500;
}

main article .form .description p {
  font-size: 1em;
  font-weight: 400;
}

main article .form .url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main article .form .url__enter {
  border: 2px solid #333;
  border-radius: 5px;
  height: 30vh;
  width: 50vh;
  margin: 20px 15px 20px 0px;
  resize: none;
}

main article .form .url button {
  font-size: 1.5em;
  height: 1.5em;
  min-width: 17%;
  -webkit-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;
}

main article .form .url button:active {
  -webkit-box-shadow: 0px 0px 2px 3px black;
          box-shadow: 0px 0px 2px 3px black;
}

main article .form .list-url .list {
  border: 2px solid #333;
  border-radius: 10px;
  min-height: 30vh;
}

main article .form .list-url .list li {
  overflow-wrap: break-word;
  margin: 10px 0 0 20px;
  font-size: 1em;
}

main article .form .list-url__delite {
  font-size: 1.2em;
  height: 1.5em;
  width: 17vh;
  border: 1px solid black;
  margin-top: 5px;
  -webkit-transition: linear 0.1s;
  -o-transition: linear 0.1s;
  transition: linear 0.1s;
}
