@import "_zeroing";

%buttom {
	font-size: 1.5em;
	height: 1.5em;
	min-width: calc(150px + 5%);
	transition: linear 0.1s;
	border: 3px solid black;
	margin-left: 5px;
}

body {
	font-size: 18px;
}

header {
	display: flex;
	justify-content: center;
	.header {
		font-size: 2.75em;
		font-weight: 600;
	}
}
main {
	article {
		display: flex;
		justify-content: center;
		.form {
			width: 95%;
			.description {
				margin-top: 20px;
				h2 {
					font-size: 2em;
					font-weight: 500;
				}
				p {
					font-size: 1em;
					font-weight: 400;
				}
			}
			&__enter {
				border: 2px solid #333;
				border-radius: 5px;
				height: 25vh;
				width: 95vw;
				margin: 20px 15px 20px 0px;
				resize: none;
			}
			.url {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 20px;
				&__add {
					@extend %buttom;
				}
				&__download {
					@extend %buttom;
				}
				&__send {
					@extend %buttom;
					min-width: 200px;
				}
				button:active {
					box-shadow: 0px 0px 2px 3px black;
				}
			}
			.list-url {
				.list {
					border: 2px solid #333;
					border-radius: 10px;
					height: 30vh;
					overflow: auto;
					li {
						overflow-wrap: break-word;
						margin: 10px 0 0 20px;
						font-size: 1em;
					}
				}
				&__delite {
					font-size: 1.2em;
					height: 1.5em;
					width: 17vh;
					border: 1px solid black;
					margin-top: 5px;
					transition: linear 0.1s;
				}
			}
		}
	}
}
